/* .testing-2{
    display: flex;
    justify-content: center;
    border-radius: 10px;
} */

.navbar-admin {
    background-color: transparent;
    width: 5%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    box-shadow: 0 0 15px rgba(8, 7, 16, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.1);
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 0.13);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    /* padding-top: %; */
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.1);
    /* border-radius: 20px; */
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 63px;
    list-style: none;
    height: 60px;
    margin-top: 20px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    box-shadow: 0 0 15px rgba(8, 7, 16, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.1);
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    /* background-color: #060b26; */
    width: 10%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  
  .choices:hover {
    text-decoration: none;
  }
  
  .akwa {
    box-shadow: 0 0 15px rgba(8, 7, 16, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.1);
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 0.13);
    width: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: -1;
  }