@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.blog{
  background-image: linear-gradient( 109.1deg, rgba(139,13,98,1) 17.5%, rgba(11,83,148,1) 100.2% );
  font-family: "work sans";
  height: 100vh;
}

html{
  font-size: 100%;
}

/* .blog-form{
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 35%;
  height: 94%;
  position: absolute ;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #FFFFFF;
  border-radius: 25px;
} */

.h1-blog{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* color: rgba(187,187,180);
  color: rgba(187,187,187,0.2); */
  padding-top: 3rem;
  margin: 0;
  font-size: 2rem;
}

.row-blog{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.2rem;
  max-width: 100%;
  
}

.row-blog input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row-blog input:focus{
   box-shadow: inset 0px -3px 0px 0px rgb(64 123 255);
   outline: none;
}

.row-blog input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
  font-family: 'Roboto', sans-serif;
}

.row-blog input:hover::-webkit-input-placeholder,
.row-blog input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row-blog label{
  align-self: start;
  padding-left: 3.5rem;
  padding-bottom: 0.9rem;
  /* color: rgba(187,187,187,0.9); */
  font-family: 'Roboto', sans-serif;
  font-size:larger;
  font-weight: bolder;
}

.blog-btn{
  border-radius: 25px;
  width: 40%;
  height: 40px;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  /* background: rgb(34,193,195); */
  /* background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%); */
  /* background-image: linear-gradient( 109.1deg, rgba(139,13,98,1) 17.5%, rgba(11,83,148,1) 100.2% ); */
  background-color: rgb(64 123 255);
  border: 0px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.blog-btn:hover{
  /* opacity: 0.8; */
  width: 45%;
  margin-left: calc(55%/2);
}

textarea {
    resize: none;
    width: 78%;
    border-radius: 0.3rem;
    border: 2px solid rgba(187,187,187,0.9);
    padding-top: 0.4rem;
    padding-left: 0.6rem;
  }

textarea:focus {
    /* box-shadow: inset 0px -1px 0px 0px rgba(34,193,195,0.7); */
   outline: none;
   border: 2px solid rgb(64 123 255);
}

textarea ::placeholder {
    opacity: 1;
  transition: opacity 0.25s ease-out;
  padding: 1rem;
}

#blog-names {
    width: 80%;
    border: 1px solid rgba(187,187,187,0.7);
    opacity: 0.7;
    padding-left: 0.2rem;
    font-family: 'Roboto', sans-serif;
}

#blog-names:focus {
    outline: none;
   border: 2px solid rgb(64 123 255);
}

#textArea-blog {
    resize: none;
    font-family: 'Roboto', sans-serif;
}

.error-blog {
  font-size:x-small;
    color: rgb(195, 34, 34);
    font-weight:500;
    text-align: center;
}