
body {
background: linear-gradient(#e5e5e5,#ffff,#e5e5e5);
}

.user-card {
    margin: 1.5rem;
    height: 10%;
    overflow: hidden;
    /* background: rgb(34,193,195); */
    font-family: "work sans";
    color: black;
    transition: 0.5s ease;
}

.user-card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-img-top {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.8);
}

.overflow {
    overflow: hidden;
}

.card-header {
    text-align: center;
    font-size: larger;
    font-family: cursive;
    font-weight: 600;
}

.buttons-contain {
    display: flex;
    justify-content: space-between;
}


.div-user-row {
    display: flex;
    flex-wrap: wrap;
    height: 25%;
}

.card-contain {
    height: 90%;
}

.welcome-contain {
    display: flex;
    flex-direction: column;
    
}

.user-btn{
    border-radius: 25px;
    width: 16%;
    height: 40px;
    margin-left: 4%;
    margin-top: 1%;
    /* margin-bottom: 10%; */
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
  }
  
  .user-btn:hover{
    opacity: 0.8;
  }

.user-h1 {
    padding-left: 2.3rem;
    padding-top: 1.5rem;
}